<ion-modal id="parent-pop-up-container" [showBackdrop]="false">
  <ng-template>
    <div class="pop-up-container">
      <div class="img-container">
        <img src="../../../assets/img/steps.gif">
      </div>
      <div class="text-container">
        <h3>
          {{ 'pop_up_poofoflife.message' | translate }}
          {{ 'pop_up_poofoflife.message01' | translate }}
          {{ 'pop_up_poofoflife.message02' | translate }}
        </h3>
      </div>
    </div>
  </ng-template>
</ion-modal>
