ion-content {
    --background: var(--color-default-ocre);

    .top-side {
        position: relative;
        /* background: Green; */

        .top-side-elements {
            position: absolute;

            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 20px;
            margin-right: 20px;
            /* background: Yellow; */
            /* use full size*/
            height: 100%;
            width: calc(100% - 40px);

            .welcome-elements {
                display: flex;
                align-items: center;

                .welcome-logo {
                    height: 48px;
                    width: 48px;
                    background: var(--color-ocre-3);
                    border-radius: 50%;
                    margin-right: 15px;
                }

                .welcome-message {
                    font-family: 'Gotham';
                    font-weight: bold;
                    font-size: 20px;
                    color: var(--color-ocre-2);
                }
            }

            .root-points-info {
                /* background: Green; */
                .root-points-container {
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                    justify-content: end;

                    .root-points {
                        background: var(--color-default-amarillo);
                        border-radius: 999px;
                        padding-left: 6px;
                        padding-right: 6px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        height: min-content;
                        margin-right: 6px;
                        font-family: 'Aller';
                        font-size: 12px;
                        overflow: hidden;
                    }

                    .root-points-icon {
                        width: 30px;
                        height: 30px;
                    }
                }

                .root-points-text {
                    color: var(--color-default-amarillo);
                    font-family: 'Aller';
                    font-weight: bold;
                    font-size: 12px;
                }
            }
        }
    }

    .content {
        /* padding: 20px; */
        margin-left: 1rem;
        margin-right: 1rem;

        .report-stats-row {
            /* margin-bottom: 20px; */
            gap: 1rem;

            .trees-registered-count,
            .proof-of-life-count {
                background-color: var(--color-ocre-2);
                border-radius: 0.625rem;
                text-align: center;
                padding-top: 2rem;
                padding-bottom: 2rem;

                .number {
                    font-size: 24px;
                    font-family: 'Gotham';
                    font-weight: bold;
                    color: var(--color-primary);
                }

                .text {
                    margin-top: 1rem;
                    font-size: 16px;
                    font-family: 'Gotham';
                    font-weight: bold;
                    color: var(--color-primary);
                }
            }
        }

        .trees-near-you-title-row {
            margin-top: 1rem;

            ion-col {
                font-size: 17px;
                font-family: 'Gotham';
                font-weight: bold;
                color: var(--color-primary);

            }
            
        }

        .trees-near-you-cards-row {
            margin-top: 0.5rem;
            gap: 0.5rem;
            flex-wrap: nowrap;
            overflow-x: scroll !important;
            overflow-y: hidden;
            .tree-card {
                width: 6.25rem;
                height: 9.375rem;
                text-align: center;
                background-color: var(--color-ocre-2);
                padding: 10px;
                border-radius: 10px;
                margin-bottom: 10px;

                .tree-image {
                    img {
                        border-radius: 50%;
                        width: 4.5rem;
                        height: 4.5rem;
                    }
                }

                .tree-data {
                    margin-top: 1.25rem;
                    .tree-name {
                        font-family: 'Aller';
                        font-weight: bold;
                        font-size: 14px;
                        color: var(--color-medium-dark-grey);
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .tree-distance {
                        margin-top: 0.125rem;
                        font-family: 'Aller';
                        font-weight: normal;
                        font-size: 12px;
                        color: var(--color-medium-dark-grey);
                    }
                }
            }
        }

        .missions-row {
            margin-top: 1rem;
            background-color: var(--color-ocre-2);
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            border-radius: 0.625rem;

            .missions-title {
                font-family: 'Aller';
                font-weight: normal;
                font-size: 14px;
                color: var(--color-medium-dark-grey);
            }

            .missions-subtitle {
                margin-top: 0.125rem;
                font-family: 'Gotham';
                font-weight: bold;
                font-size: 18px;
                color: var(--color-primary);
            }

            .action-buttons {
                margin-top: 0.25rem;
                display: flex;
                flex-direction: column;

                .action-button {
                    --background: var(--color-default-ocre);
                    border-radius: 0.625rem;
                    margin-bottom: 10px;

                    .button-values-container {
                        display: flex;
                        flex-grow: 1;
                        justify-content: space-between;
                        align-items: center;

                        .button-left {
                            font-family: 'Aller';
                            font-weight: normal;
                            font-size: 12px;
                            color: var(--color-primary);
                        }

                        .button-right {
                            display: flex;
                            align-items: center;
                            color: var(--color-default-amarillo);

                            div:first-child {
                                margin-right: 0.125rem;
                                font-size: 14px;
                                font-family: 'Aller';
                                font-weight: bold;
                            }

                            div:last-child {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.popover-content {
    --background: var(--color-primary);
    flex-direction: column;

    .icon {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    .text {
        font-family: 'Aller';
        font-weight: bold;
        font-size: 14px;
        text-align: center;
    }
}
