ion-button {
    --background: linear-gradient(to right, #F77E6D, #FB2558);
    --border-radius: 24pt;
    height: 48px;
    left: 78vw;
    position: fixed;
    text-transform: none;
    top: 132vh;
    transform: translate(-50vw, -50vh);
    width: 155px;
    z-index: 4;
}

ion-segment {
    --background: #F4F4F5;
    color: #115A6F;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
    z-index: 4;
}

#map {
    display: block;
    height: 100%;
}