<ion-header></ion-header>
<ion-content>
  <ion-col>
    <ion-row>
      <ion-col class="top-container ion-text-center">
        <div>
          <img src="../../../assets/img/root-points-added-icon.svg">
        </div>
        <div class="gif-container ion-text-center">
          <img *ngIf="comingFrom == 'new-tree'" src="../../../assets/img/new-tree.gif">
          <img *ngIf="comingFrom == 'proof-of-life'" src="../../../assets/img/proof-of-life.gif">
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="info-text ion-text-center">
        <h1>{{ 'form_sub.title' | translate }}</h1>
        <p *ngIf="comingFrom == 'new-tree'">{{ 'form_sub.sub_titlenewtree' | translate }}</p>
        <p *ngIf="comingFrom == 'proof-of-life'">{{ 'form_sub.sub_titleproof' | translate }}</p>
        <p *ngIf="comingFrom == 'draft'">{{ 'form_sub.sub_titledraft' | translate }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="btn-container ion-text-center">
        <button class="share-btn">
          {{ 'form_sub.buttom' | translate }}
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <div class="final-options">
          <a (click)="goToSeeTree()" *ngIf="comingFrom == 'new-tree'">{{ 'form_sub.seetreeregis' | translate }}</a>
          <a (click)="goToSeeTree()" *ngIf="comingFrom == 'proof-of-life'">{{ 'form_sub.seetree' | translate }}</a>
          <a (click)="goToHome()" *ngIf="comingFrom == 'draft'">{{ 'form_sub.gohome' | translate }}</a>
        </div>
        <div class="final-options">
          <a *ngIf="comingFrom == 'new-tree'">{{ 'form_sub.register' | translate }}</a>
          <a *ngIf="comingFrom == 'proof-of-life'">{{ 'form_sub.makeproof' | translate }}</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-content>
