ion-content {
  --background: White
}

.message {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
  color: black;
}
ion-toolbar {
  --background: white;
  color: black;
}
ion-label {
  --color: Black;
}

ion-item {
  --background: White
}

ion-input {
  --background: White;
  --border-color: Green;
  color: black;
  padding: 8px;
  border-radius: 4px;
}

.otp-input-item {
  --highlight-background: transparent;
}
