<ion-content [fullscreen]="true">
  <!-- <ion-slides>
    <ion-slide>
      <div id=container>
        <ion-img [src]="logo"></ion-img>
      </div>
      <ion-img [src]="continueIconBackground" class="custom-icon-background"></ion-img>
      <button class="custom-button" routerLink="/login">
        <ion-img [src]="continueIcon" alt="Flecha Adelante" class="custom-icon"></ion-img>
      </button>
    </ion-slide>
    <ion-slide>
      <div id=container>
        <ion-img [src]="logoArbol" id="logo-arbol"></ion-img>
      </div>
      <h1>Biodiversity Assets</h1>
      <h2>for the Future</h2>
      <ion-img [src]="grupo1" id="grupo"></ion-img>
    </ion-slide>
    <ion-slide>
      <div id=container>
        <ion-img [src]="moneda" id="logo-moneda"></ion-img>
      </div>
      <h3>Own <span>ENT</span></h3>
      <h4>Preserve <span>Biodiversity</span></h4>
      <h5>Earn <span>Rewards</span></h5>
      <ion-img [src]="grupo2" id="grupo"></ion-img>
    </ion-slide>
    <ion-slide>
      <div id=container>
        <ion-img [src]="logoPrincipal" id="logo-principal"></ion-img>
      </div>
      <h6>By endangered tokens DAO</h6>
      <app-login-button></app-login-button>
      <app-singup-button></app-singup-button>
      <ion-img [src]="grupo3" id="grupo"></ion-img>
    </ion-slide>
  </ion-slides> -->
</ion-content>
