<ion-header></ion-header>
<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="car-icon">
            <img src="../../../assets/icon/logo_principal.svg" />
          </div>
          <ion-row>
            <ion-col>
              <ion-row class="container-form">
                <form [formGroup]="userUpdateForm">
                  <ion-item class="mi-item">
                    <ion-img
                      class="candado"
                      slot="start"
                      src="../../../assets/icon/candado.svg"
                    ></ion-img>
                    <ion-input
                      type="email"
                      formControlName="email"
                      [clearOnEdit]="false"
                      placeholder="Email"
                      maxlength="50"
                      required="true"
                      name="email"
                    ></ion-input>
                    <ion-button
                      type="submit"
                      (click)="sendTotpToken()"
                      [disabled]="isCooldownRunning || disableSendTotpButton"
                    >
                      Send Code
                    </ion-button>
                  </ion-item>
                  <ion-item *ngIf="isTotpTokenSent === false">
                    <p>Error sending TOTP Token</p>
                  </ion-item>
                  <ion-item
                    class="mi-item"
                    [ngClass]="{ 'mi-item-totp-token-valid' : isTotpCodeValid}"
                  >
                    <ion-img
                      class="candado"
                      slot="start"
                      src="../../../assets/icon/candado.svg"
                    ></ion-img>
                    <ion-input
                      type="text"
                      formControlName="totpToken"
                      [clearOnEdit]="false"
                      placeholder="Enter TOTP Token"
                      maxlength="6"
                      required="true"
                      name="totpToken"
                    ></ion-input>
                    <ion-button type="submit" (click)="validateTotpCode()">
                      Validate
                    </ion-button>
                  </ion-item>
                  <ion-item *ngIf="isTotpCodeValid === false">
                    <p>Error validating TOTP Token</p>
                  </ion-item>
                  <ion-item class="mi-item">
                    <ion-img
                      class="candado"
                      slot="start"
                      src="../../../assets/icon/candado.svg"
                    ></ion-img>
                    <ion-input
                      type="password"
                      formControlName="password"
                      [clearOnEdit]="false"
                      placeholder="Password"
                      maxlength="50"
                      required="true"
                      name="password"
                    ></ion-input>
                  </ion-item>
                  <ion-item class="mi-item">
                    <ion-img
                      class="candado"
                      slot="start"
                      src="../../../assets/icon/candado.svg"
                    ></ion-img>
                    <ion-input
                      type="password"
                      formControlName="confirmPassword"
                      [clearOnEdit]="false"
                      placeholder="Confirm Password"
                      maxlength="50"
                      required="true"
                      name="confirmPassword"
                    ></ion-input>
                  </ion-item>
                </form>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="container-submit">
            <ion-button
              class="eH-btn-green"
              type="submit"
              (click)="submitUserPasswordChange()"
              [disabled]="!userUpdateForm.valid || !isTotpCodeValid"
              >Update Password</ion-button
            >
          </ion-row>
          <ion-item *ngIf="showRevalidateTotpTokenMessage">
            <p>Please Revalidate a new TOTP Token</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <a class="switch-auth-form" routerLink="/login">Go back?</a>
    </ion-grid>
  </div>
</ion-content>
