<ion-header></ion-header>
<ion-content>
  <ion-toolbar class="customtoolbar">
    <ion-buttons slot="end"> 
      <ion-select class="customselect" [(ngModel)]="selectedLanguage" interface="popover" (ionChange)="changeLanguage($event)">
        <ion-select-option value="en">en</ion-select-option>
        <ion-select-option value="es">es</ion-select-option>
        <ion-select-option value="pt">pt</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
  <div id="container">
    <ion-grid>
      <ion-row >
        <ion-col>
          <div class="car-icon">
            <img src="../../../assets/img/logo-main.svg" />
          </div>
          <div>
            <p class="login-title">{{ 'login.title' | translate }}</p>
            <p class="version-center" translate [translateParams]="{ version: getVersionApp() }">login.version</p>
          </div>
          <ion-row class="buttons-container">
            <ion-col>
              <ion-row class="buttons-set">
                <button class="login-button-1" (click)="signIn()">
                  <p>{{ 'login.login-email' | translate }}</p>
                </button>
                <button class="login-button-1" (click)="signUp()">
                  <p>{{ 'login.create-account' | translate }}</p>
                </button>
              </ion-row>
              <ion-row>
                <button id="login-google" (click)="googleSignUp()">
                  <div>
                    <span class="login-icon-margin-right">
                      <img src="../../../assets/img/google-icon.png">
                    </span>
                    <span>
                      {{ 'login.login-gmail' | translate}}
                    </span>
                  </div>
                </button>
                <button id="login-wallet" (click)="loginWeb3()">
                  <div>
                    <span class="login-icon-margin-right">
                      <img src="../../../assets/img/wallet-icon.svg">
                    </span>
                    <span>
                      {{'login.login-wallet' | translate}}
                    </span>
                  </div>
                </button>
                <div class="offline-btn-container">
                  <a (click)="enterOfflineMode()">{{'login.offline-mode' | translate}}</a>
                </div>
              </ion-row>
            </ion-col>
          </ion-row>
          <!-- <p class="version">Version {{ getVersionApp() }}</p> -->
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <app-login-form></app-login-form> -->
  </div>
</ion-content>
