#container {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }


ion-content {
    --background: #505E41;
    
  }
    .customtoolbar {
    --background: transparent; 
    --border-color: transparent; 
        .customselect {
            border: thin solid;
            padding: 0 0.5rem;
            min-height: 30px;
            margin-right: 0.2rem;
        }
    }
  .show-password {
    height: 18px;
    position: relative;
    width: auto;
}
a {
    color: white;
    font-weight: 400;
    text-align: center;
}

ion-col>ion-label {
    font-size: 11px;
}


#logo-principal {
    margin-bottom: 50%;
    width: 345px;
    height: 346px;
}

#grupo {
    position: absolute;
    z-index: 10;
    bottom: -20%;
    left: 45%;
}

.login-button-1 {
    background: #949C79;
    width: 100%;
    height: 42px;
    backdrop-filter: blur(10px);
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    margin-top: 4%;
    border-radius: 48px;
    color: white;
    box-shadow: 0px 4px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-google {
    background: #ffffff;
    width: 100%;
    height: 42px;
    backdrop-filter: blur(10px);
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    margin-top: 4%;
    border-radius: 48px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px rgba(0, 0, 0, .2);
    
    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 34px;
    }

    .login-icon-margin-right {
        margin-right: 1.4rem;
    }
}

#login-wallet {
    background: #F2A62A;
    width: 100%;
    height: 42px;
    backdrop-filter: blur(10px);
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    margin-top: 4%;
    border-radius: 48px;
    color: #ffffff;
    box-shadow: 0px 4px rgba(0, 0, 0, .2);
    
    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 34px;
    }

    .login-icon-margin-right {
        margin-right: 1.4rem;
    }
}

.car-icon {
    display: flex;
    justify-content: center;
    height: 40vh;

    img {
        // transform: translate(0, -120px);
        width: 100%;
    }
}

.buttons-set {
    margin: 0 0 15% 0;
}

.buttons-container {
    width: 85%;
    margin: 10% auto 0 auto;
    
}

.version {
	font-size: 0.75rem;
	color: #777575;
	text-align: end;
}

.offline-btn-container {
    display: flex;
    width: 100%;
    height: 2em;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: underline;
    }
}

.login-title{
    margin: 0;
    font-size: 16px;
}
.version-center{
    font-size: 0.9rem;
    color: #858585;
    margin-top: 3px;
    font-weight: 500;
}