<ion-content>
  <div id="container">
<ion-grid>
  <ion-row>
    <ion-col *ngIf="actualRegisterStep == 0">
      <div class="car-icon">
        <img [src]="logoPrincipal" />
      </div>
      <ion-row>
        <ion-col>
          <ion-row class="container-form">
            <form [formGroup]="emailForm">
              <ion-item class="mi-item">
                <ion-img class="candado" slot="start" [src]="candado"></ion-img>
                <ion-input
                  type="email"
                  [clearOnEdit]="false"
                  placeholder="Email"
                  formControlName="email"
                  maxlength="50"
                  required="true"
                ></ion-input>
              </ion-item>

              <ion-item class="mi-item-2">
                <ion-img class="candado" slot="start" [src]="candado"></ion-img>
                <ion-input
                  [type]="showPassword ? 'text' : 'password'"
                  [clearOnEdit]="false"
                  placeholder="Contraseña"
                  formControlName="password"
                  maxlength="20"
                ></ion-input>
                <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"> </ion-icon>
              </ion-item>
              <div
                *ngIf="emailForm.controls['password'].invalid && (emailForm.controls['password'].dirty || emailForm.controls['password'].touched)"
                class="alert-password"
              >
                <div *ngIf="emailForm.controls['password'].errors?.['pattern']">
                  La contraseña debe contener al menos una mayúscula, una minúscula, un dígito y un carácter especial.
                </div>
                <div *ngIf="emailForm.controls['password']?.errors?.['minlength']" >La contraseña debe tener al menos 8 caracteres.</div>
              </div>

              <ion-item class="mi-item-2">
                <ion-img class="candado" slot="start" [src]="candado"></ion-img>
                <ion-input
                  [type]="showPasswordConfirm ? 'text' : 'password'"
                  [clearOnEdit]="false"
                  placeholder="Confirma tu contraseña"
                  formControlName="confirm"
                  maxlength="20"
                ></ion-input>
                <ion-icon slot="end" [name]="passwordConfirmToggleIcon" (click)="togglePasswordConfirm()"> </ion-icon>
              </ion-item>
            </form>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="container-submit">
        <ion-button
          class="eH-btn-green"
          (click)="emailStep()"
          [disabled]="emailForm.invalid"
          [disabled]="disableFormButton"
        >
          CREATE AN ACCOUNT
        </ion-button>
        <ion-button
          class="eH-btn-white"
          [disabled]="true"
        >
          <ion-img [src]="google" style="margin-left: -13px; width: 8%"></ion-img>
          SIGNUP WITH GOOGLE
        </ion-button>
        <a class="switch-auth-form" routerLink="/login">Already have an account?</a>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>


  </div>
</ion-content>
