ion-content {
    --background: transparent !important;
}

* {
    /* Removes space under buttons  */
    /* allows centering across axis */
    margin: 0;
    padding: 0;
    box-shadow: none;
    backdrop-filter: none;
}

ion-tabs {
    position: absolute;
    // background: var(--color-default-ocre);
    background: transparent;
}

ion-tab-bar {
    border-top: 0; /* removes top line*/
    border-radius: 30px;
    background: var(--color-tab-menu);
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-top: 10px;
    display: flex;
    box-shadow: 0px 4px 4px 0px #3f3f4633;

    &.current-map {
        background: transparent;
        backdrop-filter: blur(6px);
    }
}

ion-tab-button {
    display: flex;
    background: transparent;
}
