<ion-header></ion-header>
<ion-content [fullscreen]="true" class="ent-snap-content">
    <div class="back-button" routerLink="/login">
        <img src="../../../assets/icons/basics/chevron-left-white.svg" alt="" />
    </div>
    <div>
        <div class="logo-container">
            <ion-img
                src="./assets/images/entsapp/entsapp_logo_1.png"
                alt="Logo Imagen"
                class="logo"
            />
        </div>
        <div class="subtitle">{{'forgot.title' | translate}}</div>
    </div>
    <div class="enter-email-message">{{ 'forgot.email' | translate }}</div>

    <ion-item
        lines="none"
        class="input-item"
        [ngClass]="{'active': emailActive, 'error': emailErrorMessage}"
    >
        <ion-icon
            class="input-icon"
            src="./assets/icons/basics/mail-filled.svg"
            alt=""
        />
        <ion-input
            placeholder="Email Address"
            (ionInput)="onInputChange('email'); validateInputs()"
            type="email"
            [(ngModel)]="email"
            [ngClass]="{'active': emailActive, 'success': emailSuccess}"
        ></ion-input>
        <ion-icon
            [hidden]="!emailSuccess"
            class="input-icon email-icon"
            src="./assets/icons/basics/check-circle-filled-green.svg"
        />
    </ion-item>
    <div class="error-message-container">
        <img
            [hidden]="!emailErrorMessage"
            class="error-icon"
            src="../../../assets/icons/basics/exclamation-circle-filled-error.svg"
            alt=""
        />
        <div class="error-message">{{emailErrorMessage | translate}}</div>
    </div>
    <ion-button
        expand="block"
        shape="round"
        class="continue-button"
        [disabled]="disableContinue"
        (click)="continue()"
        >{{ 'forgot.continue' | translate }}</ion-button
    >
</ion-content>
